* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header{ /*this rules apply to all elements in header, they will all have white 
    color font, and blue background*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff
}

h1 { /*we devided h1 into blocks in order to change color of seo but we have to use
    display in block to show it as one word horizontally*/
    display: inline-block;
    font-size: 48px;
}

h1 .seo { /* with selecting class inside of the h1 element we are applying color
    font rule only to specific class "seo" */
    color: #d9dcd6;
}

header section {/*entire section in header is moved to the right and all other rules apply to all ul elements*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

 ul { /*no list style applied in UL section for each listed item*/
    list-style-type: none;
}

 ul li { /* rule for inline-block only applies to links in ul and they all now show horizontal */
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {/* rules apply only to section hero this section is to display image that we imported via
    url as a background */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*above done*/ 

.float-left { /* keeps image to the right in article*/
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {/* all elements in section content are displayed as inline block with
    moved to the left with margin-left 20px and smaller with width rule*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {/* content of the class benefits will show to the right side on the 
    empty space in body of html*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
aside section  { /*rule applies to all sections inside aside element*/
    margin-bottom: 32px;
    color: #ffffff;
}


aside section h3 { /*rule apply to all h3 elements inside of section in aside element,
    all text is centralized*/
    margin-bottom: 10px;
    text-align: center;
}
aside section img{ /* all images in class content will have below rules applied */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

section article { /* all articles inside of class content have below rules applied  */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

section article img{ /* all images in class content have max hight of 200px*/
    max-height: 200px;
}
section article h2{ /* each h2 element in class content has same rule applied to them, */
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /*rules applied to entire footer section  */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h4 { /* only element h4 inside footer will have font size of 20px */
    font-size: 20px;
}
